<%- include("./includes/head.ejs") %>
<link rel="stylesheet" href="/css/bag.css">
<%- include("./includes/nav.ejs") %>

    <!-- main div  -->
    <div style="margin-top:92px;min-height: 350px;" >
        <div class="container">
            <div class="display-4">New Requests</div>
            <hr>
            <div class="row pt-5">
                <div class="col-2"></div>
                <div class="col-8">
                    <% for (product of products) { %>
                        <div class="row">
                            <div class="col-3">
                                <img class="m-img" src="<%= product.imageUrl %>"
                                width="100%" height="210px" alt="img">
                            </div>
                            <div class="col-9 m-style">
                                <div class="ml-4 pt-4 pl-5">
                                    <h5><%= product.brand %></h5>
                                    <p><%= product.desc %></p>
                                    <p>Sold By : xyz limited</p>
                                    <p>Price : <%= product.price %></p>
                                </div>
                            </div>
                            <div class="col-12">
                                <a href="/corporate/accept/<%= product._id %>" class="btn m-btn-v">ACCEPT REQUEST </a>
                            </div>
                            <div class="col-12">
                                <hr>
                            </div>
                        </div>
                    <% } %>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
<%- include("./includes/end.ejs") %>