<%- include("./includes/head.ejs") %>
<link rel="stylesheet" href="/css/bag.css">
<%- include("./includes/nav.ejs") %>

    <!-- main div  -->
    <div style="margin-top:92px;min-height: 350px;" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 mt-5">
                    <div class="row">
                        <div class="col-8 m-margin">
                            <h6>My Shopping Bag <span class="float-right" >(<%= products.length %> Items)</span></h6>
                            <hr>
                            <div class="row">
                                <% for ( product of products ) { %>
                                    <div class="col-3">
                                        <img class="m-img" src="<%= product.productId.image[0].url %>"
                                        width="100%" height="190px" alt="img">
                                    </div>
                                    <div class="col-6 m-style">
                                        <h5><%= product.productId.brand %></h5>
                                        <p><%= product.productId.desc %></p>
                                        <button class="btn"> Size : <%= product.size %></button>
                                        <button class="btn"> Qty : <%= product.quantity %></button>
                                    </div>
                                    <div class="col-3 text-right m-style">
                                        <% if ( product.productId.discount > 0 ) { %>
                                            <h5>Rs. <%= parseInt((product.productId.currentPrice)*(100-product.productId.discount)/100) %></h5>
                                            <span class="m-dll">Rs. <%= product.productId.currentPrice %></span>
                                            <span class="m-off"> <%= product.productId.discount %>% OFF </span>
                                        <% } else { %>
                                            <h5>Rs. <%= product.productId.currentPrice %></h5>
                                        <% } %>
                                    </div>
                                    <div class="col-4 m-margin">
                                        <a href="/user/bag/remove/<%= product._id %>" class="btn m-btn-v">REMOVE</a>
                                    </div>
                                    <div class="col-8">
                                        <a href="/user/bag/remove-and-add/<%= product._id %>" class="btn m-btn-v">MOVE TO WISHLIST</a>
                                    </div>
                                    <div class="col-12">
                                        <hr>
                                    </div>
                                <% } %>
                            </div>
                            <a href="/user/wishlist" class="btn m-full-btn mt-4"><img src="/images/wishlist.png" alt="img" width="15px" height="18px">
                                 Add More From Wishlist
                            </a>
                        </div>
                        <div class="col-4 m-order-details">
                            <hr>
                            <h6 class="mb-4">PRICE DETAILS</h6>
                            <p>Bag Total <span>Rs. <%= bagTotal %>  </span> </p>
                            <p>Bag Discount <span class="text-success">-Rs. <%= bagDiscount %></span></p>
                            <p>Order Total <span>Rs. <%= orderTotal %></span></p>
                            <p>Delivery Charges <span class="text-success">FREE</span><del>Rs.99</del></p>
                            <hr class="mt-4">
                            <h5>Total <span>Rs. <%= orderTotal %></span></h5>
                            <button class="btn m-btn">PLACE ORDER</button>
                        </div>
                    </div>
                    <br>
                    <hr>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
<%- include("./includes/end.ejs") %>