<%- include("./includes/head.ejs") %>
<link rel="stylesheet" href="/css/wishlist.css">
<%- include("./includes/nav.ejs") %>

    <!-- main div  -->
    <div style="margin-top:92px;min-height: 350px;" >
        <div class="container p-4">
            <div class="row">
                <div class="col-12 mb-5">
                    <span class="m-highlight">My Wishlist</span>
                    <span class="m-inc"><%= products.length %> items</span>
                </div>
                <% for ( let product of products ) { %>
                    <div class="col-3 text-center mb-4">
                        <div class="m-margin">
                            <img src="<%= product.productId.image[0].url %>"
                            width="98%" height="310px" alt="img">
                            <a href="/shop/remWishlist/<%= product.productId._id %>" class="m-cross" >X</a>
                            <p><%= product.productId.desc  %></p>
                            <span class="m-t1"> Rs. <%= product.productId.price  %> </span>
                            <span class="m-t2">Rs. 1299</span>
                            <span class="m-t3">( 10% OFF )</span>
                            <hr>
                            <a href="/shop/product/<%= product.productId._id %>" class="btn m-btn">Move To Bag</a>
                            </div>
                    </div>
                <% } %>
            </div>
        </div>
<%- include("./includes/end.ejs") %>